<template id="site-nav">
  <nav>
    <ul>
      <li>
        <a href="#audio-software">
          Audio Software
        </a>
      </li>
      <li>
        <a href="#graphic-design">
          Graphic Design
        </a>
      </li>
      <li>
        <a href="#web-fullstack">
          Web Fullstack
        </a>
      </li>
      <li>
        <a href="#systems-and-environments">
          Systems and Environments
        </a>
      </li>
      <li>
        <a href="#products">
          Products
        </a>
      </li>
      <li>
        <a href="#contact">
          Contact
        </a>
      </li>
    </ul>
  </nav>
</template>

<script>
  const nav = document.getElementById("site-nav");
  nav.addEventListener("click", () => {});
</script>

<style scoped>
</style>
